@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    background-color: #f0f0f0;
    background-color: #d7dfe2;
    background-color: #222;
    overflow: hidden;
}



::-webkit-scrollbar {
    width: 15px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #CCC; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


%scrollBar{
    overflow-x: hidden;
    overflow-y: scroll;
}

//https://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable
%unselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

*{
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 14pt;
}  



.IconButton{
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    margin:2px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 24px;
    width: 24px;
    outline: none;
    i{
        @extend %unselect;
        font-size: 18px;
        margin:0px;
        font-weight: bold;
    }
}

.disabled{
    color:rgba(0, 0, 0, .15);
    background-color: rgba(0, 0, 0, .05) !important;
    cursor: default !important;
}

.clear>i{
    font-size: 18px !important;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    transition: all .15s;
}
.clear:hover{
    background-color:darkred !important;
    color: white !important;
}







.ResizableTextArea{
    outline:none;
    text-align: left;
    width:100%;
	box-sizing: border-box;
	border: none;
	resize: none;
	font-size: 14pt;
	line-height: 23px;
    overflow: auto;
}







.Page{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.Page > .BlockSet{
    height:90vh;
    margin: 5vh auto; 
    padding-bottom: 20px;
}

.Page > .BlockSet:first-of-type{
    margin:0;
    height:100vh;
    padding: 50px;
    width:715px;
    align-self: start;
}


.BlockSet{
    @extend %scrollBar;
    //padding: 10px 10px 0 10px;
    background-color: white;
}

.BlockSet:first-of-type{
    background-color: #eee;
}


.Block{
    width:600px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 2px 0;
    padding: 15px;
    background-color: white;
    position: relative;
}

.Block.edit{
    background-color: transparent;
    padding:0;
}

.Block>div:first-of-type{
    width: 100%;
    min-height: 110px;
}

.Block.edit > div:first-of-type{
    border:1px solid #ccc;
}


.Text{
    width:100%;
    min-height:50px;
    padding:5px 15px;
    border: none !important;
    
    p{
        text-align: left;
        overflow-wrap: break-word;
    }
}


.edit > .Text{
    padding:0;

}




.AddBlock{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    width:600px;
    margin: 10px 0 50px 0;
    


    select{
        margin:0;
        background-color: rgba(0, 0, 0, .1);
        border:none;
        outline:none;
        width:300px;
        padding:5px;
        line-height: 24px;
    }
}









.url{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Image{
    background-color: white;

    img{
        max-width: 100%;
        width: 100%;
        height:auto;
        outline:none;
        border:none;
        background-color: rgba(0, 0, 0, .5);
        margin:0;
    }
    div{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        padding:5px 15px 15px 15px;


        *{
            margin: 10px 0 0 0;
            border:none;
            outline:none;
            background-color: transparent;
        }
    }
    h5{
        margin:5px;
        font-weight: 500;
        font-style: italic;
        text-align: left;
        font-size: .83em;
    }
}




.Block:first-of-type:not(.edit){
    width: 600px;
    padding: 0;
    
    .Image{
        padding:0;
        margin:0;
        
        h5{
            padding:0 15px;
        }
    }

}

.Block:first-of-type:not(.edit) > div{
    margin: 15px;
}



.Block:not(.edit) > .Quiz{
    border: 2px solid #ccc;
    border-radius: 10px;
    margin:45px !important;
    h3, p{
        margin: 0;
    }
}



.Quiz{
    padding:35px 20px;
    background-color: white;
}
.Question{
    font-weight: bold;
    text-align: center;
    margin-bottom:10px;
    padding: 10px 20px;
}


.Answer{
    display: flex;
    flex-flow: row nowrap;
    padding:5px;
    //justify-content: center;
    align-items: center;
    align-content: center;

    .IconButton{
        border:none;
    }
}


.Reader{
    padding:15px;
    position: relative;

    *{
        margin-bottom:15px;
    }

    input{
        width:100%;
    }
}

.ReaderText *{
    padding:2px;
    margin:0;
}

.ReaderText > div > p{
    display: inline-block;
}


.AudioButtons{
    display: flex;
    //flex-flow: column nowrap;
    height: auto;
    //width: 24px;
    //position: absolute;
    margin:0;

    button{
        margin:0 5px;
    }
}


p[highlight="true"] {
    background-color: lightgreen;
}

p[highlight="false"] {
    transition: background-color 2s;
}

