.Prompt{
    padding: 15px 35px;
    background-color: white;
}

.Prompt > p{
    text-align: left;
    //font-weight: 600;
    font-size: 12pt;
    font-style: italic;
    margin:10px 0;
}

.Prompt > .userInput{
    border: 2px solid lightgreen;
    padding:10px;
    border-radius: 10px;
    font-size: 12pt;
}

.Prompt > .promptText{
    border-bottom: 1px solid #ccc;
}